button {
	-moz-border-radius: 	2px;
	-webkit-border-radius: 	2px;
	border-radius: 			2px;
	margin: 				0;
	display: 				inline-block;
	font-family: 			sans-serif;
	font-weight: 			300;
	text-align: 			center;
	font-size: 				15px;
	padding: 				8px 24px;
	text-decoration: 		none;
	cursor: 				pointer;
	color: 					#fbfbfb;
}

button:hover {
	transition: all 0.2s;
}


button.blue {
	background: #2368CE;
	border: 	1px solid #225fb1;
}

button.blue:hover {
	background: 		-webkit-linear-gradient(top, #2774E7 00%, #2469D2 99%);
	background: 		-moz-linear-gradient(top, #2774E7 00%, #2469D2 99%);
	background: 		-o-linear-gradient(top, #2774E7 00%, #2469D2 99%);
	background: 		-ms-linear-gradient(top, #2774E7 00%, #2469D2 99%);
	background: 		-linear-gradient(top, #2774E7 00%, #2469D2 99%);
	-moz-box-shadow: 	0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 		0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	border: 			1px solid #1C5096;
}

button.blue:active {
	-moz-box-shadow: 	inset 0px 1px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
	box-shadow: 		inset 0px 1px 1px rgba(0, 0, 0, 0.25);
}


button.orange {
	background: #FA9D32;
	border: 	1px solid #E9A85D;
}

button.orange:hover {
	background: 		-webkit-linear-gradient(top, #FAA645 00%, #FA9929 99%);
	background: 		-moz-linear-gradient(top, #FAA645 00%, #FA9929 99%);
	background: 		-o-linear-gradient(top, #FAA645 00%, #FA9929 99%);
	background: 		-ms-linear-gradient(top, #FAA645 00%, #FA9929 99%);
	background: 		-linear-gradient(top, #FAA645 00%, #FA9929 99%);
	-moz-box-shadow: 	0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 		0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	border: 			1px solid #D79B56;
}

button.orange:active {
	-moz-box-shadow: 	inset 0px 1px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
	box-shadow: 		inset 0px 1px 1px rgba(0, 0, 0, 0.25);
}


button.green {
	background: #92B41E;
	border: 	1px solid #88A21A;
	color:		#fbfbfb;
}

button.green:hover {
	background: 		-webkit-linear-gradient(top, #9ABB1F 00%, #8FAD1C 99%);
	background: 		-moz-linear-gradient(top, #9ABB1F 00%, #8FAD1C 99%);
	background: 		-o-linear-gradient(top, #9ABB1F 00%, #8FAD1C 99%);
	background: 		-ms-linear-gradient(top, #9ABB1F 00%, #8FAD1C 99%);
	background: 		-linear-gradient(top, #9ABB1F 00%, #8FAD1C 99%);
	-moz-box-shadow: 	0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 		0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	border: 			1px solid #758E17;
}

button.green:active {
	-moz-box-shadow: 	inset 0px 1px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
	box-shadow: 		inset 0px 1px 1px rgba(0, 0, 0, 0.25);
}


button.purple {
	background: #8F52AC;
	border: 	1px solid #854B9E;
	color:		#fbfbfb;
}

button.purple:hover {
	background: 		-webkit-linear-gradient(top, #9957B7 00%, #864CA0 99%);
	background: 		-moz-linear-gradient(top, #9957B7 00%, #864CA0 99%);
	background: 		-o-linear-gradient(top, #9957B7 00%, #864CA0 99%);
	background: 		-ms-linear-gradient(top, #9957B7 00%, #864CA0 99%);
	background: 		-linear-gradient(top, #9957B7 00%, #864CA0 99%);
	-moz-box-shadow: 	0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 		0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	border: 			1px solid #804999;
}

button.purple:active {
	-moz-box-shadow: 	inset 0px 1px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
	box-shadow: 		inset 0px 1px 1px rgba(0, 0, 0, 0.25);
}


button.cyan {
	background: #14A0CD;
	border: 	1px solid #1088AB;
	color:		#fbfbfb;
}

button.cyan:hover {
	background: 		-webkit-linear-gradient(top, #15ACD8 00%, #139BC3 99%);
	background: 		-moz-linear-gradient(top, #15ACD8 00%, #139BC3 99%);
	background: 		-o-linear-gradient(top, #15ACD8 00%, #139BC3 99%);
	background: 		-ms-linear-gradient(top, #15ACD8 00%, #139BC3 99%);
	background: 		-linear-gradient(top, #15ACD8 00%, #139BC3 99%);
	-moz-box-shadow: 	0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 		0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	border: 			1px solid #0D7894;
}

button.cyan:active {
	-moz-box-shadow: 	inset 0px 1px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
	box-shadow: 		inset 0px 1px 1px rgba(0, 0, 0, 0.25);
}


button.gray {
	background: #efefef;
	border: 	1px solid #c3c3c3;
	color: 		#444444;
}

button.gray:hover {
	background: 		-webkit-linear-gradient(top, #f1f1f1 00%, #e5e5e5 99%);
	background: 		-moz-linear-gradient(top, #f1f1f1 00%, #e5e5e5 99%);
	background: 		-o-linear-gradient(top, #f1f1f1 00%, #e5e5e5 99%);
	background: 		-ms-linear-gradient(top, #f1f1f1 00%, #e5e5e5 99%);
	background: 		-linear-gradient(top, #f1f1f1 00%, #e5e5e5 99%);
	-moz-box-shadow: 	0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 		0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	border-color: 		#aeaeae;
	
}

button.gray:active {
	-moz-box-shadow: 	inset 0 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 		inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
