span.gray_dark {
	color:	#444444;
}

span.gray_light {
	color:	#EFEFEF;
}

span.blue {
	color:	#1E59AE;
}

span.blue_light {
	color:	#2163C2;
}

span.cyan {
	color:	#14A0CD;
}

span.purple {
	color:	#8F52AC;
}

span.orange {
	color:	#FAB41D;
}

span.green {
	color:	#92B41E;
}