* {
	font-family: sans-serif;
	font-weight: 300;
}

body {
	background-color: #fbfbfb;
	/*background-image: url(../../images/bg-top.png);
	background-position: top;
	background-repeat: repeat-x;*/
}
h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 32px;
	display: inline-block;
	vertical-align: middle;
	width: auto;
	margin: 0;
}

h1.ellipsis {
	white-space: nowrap;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0px;
}
h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 24px;
	display: inline;
	vertical-align: middle;
	width: auto;
}
h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 20px;
	display: inline;
	vertical-align: middle;
	width: auto;
}
h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	display: inline;
	vertical-align: middle;
	width: auto;
}
h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 15px;
	display: inline;
	vertical-align: middle;
	width: auto;
}
p {
	text-indent: 1.5em;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 150%;
	font-size: 15px;
	vertical-align: middle;
}

a {
	color:	#000000;
}
a:hover {
	color:	#1e59ae;
}
a.no_effect:hover {
	color:	#000000;
}

.error a {
	color: red;
}
.error a:hover {
	color: #fab41d;
}
span.error {
	font-family: "Helvetica";
	font-size: 14px;
	color: red;
	display: none;
}
span.smallerror {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 12px;
	color: red;
	display: none;
}
span.hint {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #555555;
}
span.nice {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 13px;
}
span.nice a {
	color: #ffffff;
	text-decoration: underline;
}
span.nice a:hover {
	color: #1e59ae;
	text-decoration: underline;
}
span.nice_big {
	display: inline-block;
	color: #fbfbfb;
	font-size: 14px;
	font-family: thin_font;
	padding: 10px;
}
span[isclickable="false"].nice_big {
	text-transform: none;
}
span[isclickable="true"].nice_big:hover {
	background: #da9d19;
	cursor: pointer;
}

div.headerWrapper {
	width: auto;
	margin: 0 -8px;
}

div.header {
	top: 0px;
	clear:both;
	margin-bottom: 10px;
	top: 0px;
	width:720px;
	margin: 0px auto;
	clear:both;
}

#body {
	width: 100%;
	margin-top: 20px;
}

div.navigationBar {
	width: 100%;
	top: 0;
	background-color: #efefef; 
	border-bottom: 1px solid #cdcdcd; 
	border-top: 1px solid #cdcdcd;
	z-index: 9998;
}

div.sticky {
	position: fixed;
	-moz-box-shadow: 	0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 		0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

div.navigation {
	position: relative;
}
div.navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
div.navigation li {
	list-style-type: none;
	display:inline;
	text-align:center;
}
div.navigation a {
	text-decoration: none;
	font: 14px "Open Sans", sans-serif;
	font-weight: 300;
	color: rgba(0,0,0,0.75);
	text-transform: uppercase;
	padding: 6px 10px 6px 10px;
	float: right;
}
div.navigation a:hover {
	color: black;
	background-color: rgba(0,0,0,0.05);
	transition: all 0.1s;
}
div.navigation a:active {
	background-color: rgba(0,0,0,0.025);
	transition: all 0.1s;
}
div.navigation a.buttonPressed {
	background-color: rgba(0,0,0,0.025);
	color: #1e59ae;
	transition: all 0.1s;
}
div.navigation a.buttonPressed:hover {
	color: black;
	background-color: rgba(0,0,0,0.05);
	transition: all 0.1s;
}

div.dividerLine {
	margin: 6px 0px;
	width: 1px; 
	background: #cccccc; 
}

.divider{
    position:absolute;
    left:50%;
    top:10%;
    bottom:10%;
    border-left:1px solid #c8c8c8;
}

img.scalable {
	max-width: 100%;
	height: auto;
	width: auto;
	width: auto\9; /* ie8 */;
}

.notif_bar {
	position: relative;
	background: #fab41d;
	width: auto;
	height: 34px;
	margin: 20px -8px 0px -8px;
	border-bottom: 2px solid rgba(0,0,0,0.125);
}

br.clear {
    clear:both;
    line-height:0;
}
