input.APOInput {
	width: 336px;
	height: 38px;
	font-family: Arial;
	font-size: 14px;
	display: block;
	padding: 0 10px 0 10px;
	color: #777777;
	border: 1px solid #c4c3be;
	background: #ffffff;
}

input.APOInput:hover {
	outline: none;
	border: 1px solid #c4c3be;
	color: #005791;
	-moz-box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
}

input.APOInput:focus {
	outline: none;
	border:1px solid #fab41d;
	color: #000000;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

input.APOInput:disabled {
	background: rgba(255,255,255,0.50);
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
}

textarea {
	outline: none;
	border: 1px solid #c4c3be;
	color: #777777;
	background: #ffffff;
	overflow: auto;
	resize: none;
	font-family: Arial;
	font-size: 13px;
	padding: 5px;
}

textarea:hover {
	outline: none;
	border: 1px solid #c4c3be;
	color: #005791;
	-moz-box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
}

textarea:focus {
	outline: none;
	border:1px solid #fab41d;
	color: #000000;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}