.popupBox {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	padding-bottom: 12px;
	background-color: #efefef;
	z-index: 2000;
	-moz-box-shadow: 0 0 5px #888888;
	-webkit-box-shadow: 0 0 5px #888888;
	box-shadow: 0 0 5px #888888;
}

.popupBox > .boxheader {
	background: #fab41d;
	padding-left: 12px;
	color: #fbfbfb;
	font-size: 18px;
	text-transform: uppercase;
	font-family: thin_font;
	text-align: left;
	height: 34px;
	border-bottom: 2px solid rgba(0,0,0,0.125);
}

.popupBox > .boxheader > .title {
	display: inline;
	float: left;
	padding: 6px;
	cursor: move;
}

[barColor="gold"].popupBox > .boxheader {
	background: #fab41d;
}

[barColor="blue"].popupBox > .boxheader {
	background: #1e59ae;
	border-bottom: 2px solid rgba(0,0,0,0.25);
}

[barColor="gray"].popupBox > .boxheader {
	background: #222222;
	border-bottom: 2px solid rgba(255,255,255,0.625);
}

.popupBox > .boxheader > .x {
	display: inline;
	float: right;
	cursor: hand;
}

.popupBox > .boxheader > .x img {
	opacity: 0.50;
}

.popupBox > .boxheader > .x:hover img {
	opacity: 1.00;
	background: rgba(255,255,255,0.125);
}

.popupBox > .boxbody {
	clear: both;
	padding: 10px;
	color: #000000;
	font-size: 14px;
	font-family: thin_font;
	text-align: left;
}

.popupBox > .boxfooter {
	padding: 10px;
	color: #333333;
	font-size: 12px;
	text-align: right;
	font-family: thin_font;
	clear: both;
}

#shade {
	 display: none; 
	 position:fixed; 
	 left:0; 
	 right:0; 
	 top:0; 
	 bottom:0; 
	 background-color: rgba(0,0,0,0);"
}
