.APOTableHeader {
	background: #dedede; 
	border: 1px solid #cccccc; 
	margin-top: 20px;
	height: 40px;
}

.APOTableLabel {
	line-height: 40px; 
	float:left; 
	padding-left: 10px; 
	font-weight: 400;
	height: 40px;
}

.APOTableRow {
	height: 40px; 
	background: #f9f9f9;
	border-bottom-color: #e5e5e5;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	font-size: 13px;
}

.APOTableLabel > span {
	white-space: nowrap;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0px;
}

.APOTableRow:hover {
	background: #f6f6f6;
}

.APOTableRow:hover .APOTableRowButton {
	display: inline;
}

.APOTableRowButton {
	float: right; 
	margin: 2px;
	width:0px; 
	height:0px; 
	padding: 17 12;
	opacity: 0.3;
	filter:alpha(opacity=30);
	display:none;
}

.APOTableRowButton:hover {
	opacity: 0.6;
	filter:alpha(opacity=60);
}

.ButtonEdit {
	margin-right: 7px;
	background: url(../../images/edit.png);
}

.ButtonTrash {
	background: url(../../images/trash.png);
}
